body {
    margin: 0;
    padding: 0;
}

.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 180px solid transparent;
    border-right: 180px solid transparent;
    border-bottom: 180px solid orange;
    margin: 0;
    padding: 0;
}

.top {
    display: block;
    position: relative;
    width: 360px;
    margin: 0;
    padding: 0;
}

.chimney {
    width: 40px;
    height: 100px;
    background-color: black;
    display: inline-block;
    position: absolute;
    left: 270px;
    top: 50px;
    z-index: -1;
}

.bottom {
    width: 300px;
    margin: 0 30px;
    background-color: rgb(179, 130, 24);
    display: block;
    height: 260px;
    padding: 0;
    z-index: -1;
}

.window {
    background-color: aquamarine;
    width: 100px;
    height: 100px;
    position: relative;
    left: 33px;
    top: 10px;
    display: inline-block;
    margin-right: 27px;
    margin-bottom: 25px;
}

.window div {
    border: 2px solid black;
    margin: 0px -6px -6px 0;
    padding: 24px;
    display: inline-block;
}

.door {
    background-color: aqua;
    width: 100px;
    height: 125px;
    position: relative;
    left: 165px;
    bottom: 117px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border: 1px solid black;
}

.handle {
    background-color: black;
    height: 10px;
    width: 10px;
    position: relative;
    top: 70px;
    left: 80px;
    border-radius: 50%;

}