.mainPage img {
    margin: 0px 0 20px 25%;
    width: 50%;
    height: auto;
}

p {
    margin: 20px 30px 0 30px;
    padding-bottom: 20px;
}

iframe {
    margin: 0px 0 20px 25%;
    width: 50%;
    height: 300px;
}